@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>JAC WEB SHOP</h1>
    <p class="lead">Application that allows the administration of the products of the store.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>